<div class="container">
  <div class="row">
    <div class="form-group has-feedback">
      <% if flash[:error] %>
        <div class="alert alert-danger open-sans-regular" id="users_error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= @error_alert %>
          <div class="notice" style="font-size: 14px;"><%= flash[:error] %></div>
          <% flash[:error]=nil %>
        </div>
      <% end %>
      <%- if !flash[:notice].nil? %>
        <div class="alert alert-success open-sans-regular" id="users_error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= @error_alert %>
          <div class="notice" style="font-size: 14px;"><%= flash[:notice] %></div>
          <% flash[:notice]=nil %>
        </div>
      <%- end %>
    </div>
    <div class="col-sm-6 col-md-12 col-md-offset-6">
      <h1 class="text-center login-title">Cure Me</h1>
      <div class="account-wall">
        <%= form_tag(authenticate_users_path, {  :name=> "login",:class=>'form-signin' } )  do %>
          <input type="text" class="form-control" placeholder="Email" id="email" name="email" required autofocus>
          <br/>
          <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
          <!--<br/>-->
          <!--<input type="text" class="form-control" placeholder="Code" id="code" name="code" style="display: none;">-->
          <br/>
          <input type="checkbox" name="remeber_me" id="remember_me" /> &nbsp; Remember me?
          <br/>
          <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">Sign in</button>
        <% end %>
      </div>
      <br/>
      <a href="/auth/facebook" class="text-center new-account" style="text-decoration: none; "><button class="btn btn-lg btn-primary btn-block" type="button">Sign in with <i class="fa fa-facebook-official"></i></button></a>
      <a href="<%= '#!'%>" class="text-center new-account">Create an account </a>
      <a href="<%= '#!' %>" class="text-center new-account" role="button">Forgot Password?</a>
    </div>
  </div>
</div>

<script>


</script>