

      <div class="row">

        <div class="col-md-12">
          <div class="page-header">
            <h1>Home <small>Search results for "medicines"</small></h1>
          </div>

        </div>
        <div class="col-md-12" style="padding-bottom: 10px">
          <div class="input-group" id="adv-search">
            <input type="text" class="form-control" placeholder="Search for Products/Medicines" />
            <div class="input-group-btn">
              <div class="btn-group" role="group">
                <div class="dropdown dropdown-lg">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="filter">Filter by</label>
                        <select class="form-control">
                          <option value="0" selected>All Products</option>
                          <option value="1">All Services</option>
                          <option value="2">Medicines</option>
                          <option value="3">Herbal</option>
                          <option value="4">Nutriceuticals</option>
                          <option value="5">Beauty Products</option>
                          <option value="6">Biomedical</option>
                          <option value="7">Medical Equipment</option>
                          <option value="8">Other Products</option>
                          <option value="9">Medical Services</option>
                          <option value="10">Allied Services</option>
                          <option value="11">Other Services</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="contain">Author</label>
                        <input class="form-control" type="text" />
                      </div>
                      <div class="form-group">
                        <label for="contain">Contains the words</label>
                        <input class="form-control" type="text" />
                      </div>
                      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                  </div>
                </div>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <% @products.each do |product| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <% if product.item1.exists? %>
                <%= image_tag product.item1.url(:large) %>
            <% else %>
                <% if product.item2.exists? %>
                    <%= image_tag product.item2.url(:large) %>
                <% else %>
                    <% if product.item3.exists? %>
                        <%= image_tag product.item3.url(:large) %>
                    <% else %>
                        <% if product.item4.exists? %>
                            <%= image_tag product.item4.url(:large) %>
                        <% else %>
                            <img src="http://placehold.it/320x150" alt="">
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
            <div class="caption">
              <h4 class="pull-right"><%=  product.price %></h4>
              <h4> <%= link_to product.item_name, product %>
              </h4>
              <p><%=  product.description %></p>
            </div>
            <div class="ratings">
              <p class="pull-right">15 reviews</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </p>
            </div>
          </div>
        </div>
<% end %>
      </div>
