<!DOCTYPE html>
<html>
<head>
  <title>CureMe</title>
  <%= stylesheet_link_tag    'application'%>
  <%= stylesheet_link_tag "#{params[:controller]}" %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "tools/#{params[:controller]}" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
