<!DOCTYPE html>
<html>
<head>
  <title>QureMy</title>
  <%= stylesheet_link_tag    'application'%>
  <%= stylesheet_link_tag "#{params[:controller]}" %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "tools/#{params[:controller]}" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/nav" %>
<div class="container">
  <div class="row">
    <%= render "layouts/category" %>
    <%= yield %>
  </div>
</div>
<%= render "layouts/footer" %>
</body>
</html>
