<!DOCTYPE html>
<html>
<head>
  <title>QureMy</title>
  <%= stylesheet_link_tag    'application'%>
  <%= stylesheet_link_tag 'homes' %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "tools/#{params[:controller]}" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/nav" %>
<div class="container">
  <div class="row">
    <%# if session[:user_logged_id].present? %>
      <%= render "layouts/category" %>
    <%# end %>
    <div class="col-md-9">
     <%= yield %>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
</body>
</html>
